.content{
    display: grid;

    grid-template-columns: 60% 40%;
    /*grid-template-rows: clamp(20rem, 5vw, 30.5rem) 1fr;*/
    grid-template-areas: 
    'header header'
    'left right'
}


.info{
    grid-area: left;
}

.info h1{
    font-size: clamp(20px, 5vw, 2.4rem);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    color: #03265C;

    margin-bottom: 2.4rem;
}

main{
    grid-area: right;

    display: flex;
    align-items: center;
}

main h2{
    font-size: clamp(20px, 5vw, 2.4rem);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    color: #03265C;
}

input{
    border: .2rem solid #888888;

    width: clamp(50px, 25vw, 40.6rem);
    height: clamp(50px, 5vh, 20.6rem);

    padding: 0 1.6rem;

    margin-top: 2rem;
}



.info{
    margin-left: 6rem;
    margin-top: 1.9%;

    font-family: 'Poppins';
    font-size: clamp(10px, 5vw, 1.8rem);
    font-weight: 400;
}

.info li{
    margin-bottom: 3rem;
}

.quests{
    display: grid;
}

#container{
    margin-top: 3%;
}

#container button{
    margin-left: 50%;
}

.lineOne{
    margin-left: 5%;
    margin-right: 5%;

    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    'no no no no'
    'rubrica vt 0 fix';

    text-align: center;
}

.lineOne p{
    margin-top: 2%;
    margin-right: 2%;

    font-family: 'Poppins';
    font-size: clamp(10px, 5vw, 1.5rem);
    font-weight: 400;
}

.text{
    text-align: center;

    height: clamp(70px, 5vh, 9.9rem);
    
    margin-right: 5%;
    margin-top: 5%;
}

.lineOne :nth-child(4){
    margin-right: 0%;
}

.text .value{
    display: flex;

    align-items: center;
    justify-content: center;
}

.period{
    grid-area: fix;

    height: clamp(105px, 5vh, 25rem);

    margin-top: 10%;
   
    text-align: center;
    justify-content: space-around;
}

.period section{
    display: flex;

    justify-content: space-between;

    margin-right: 5%;
    margin-left: 5%;
}

.vt{
    grid-area: vt;

    height: clamp(250px, 5vh, 25rem);
    width: clamp(250px, 20vw, 32rem);

    margin-top: 10%;
    margin-left: 0%;
   
    text-align: center;
    justify-content: space-around;

}

.vt section{
    display: flex;

    justify-content: space-between;

    margin-right: 5%;
    margin-left: 5%;
}

.line img{
    text-align: center;
}

.rubrica{
    grid-area: rubrica;

    height: clamp(100px, 5vh, 25.3rem);
    width: clamp(200px, 5vw, 92.6rem);

    margin-top: 10%;

    border: 1px solid #009A66;

    text-align: center;  
}

.rubrica section{
    display: flex;

    justify-content: space-between;

    margin-right: 5%;
    margin-left: 5%;
}

#result button{
    width: 20%;

    margin-top: 3rem;
    margin-left: 5%;
    margin-bottom: clamp(1rem, 5vw, 5rem);
}


